<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativedatatrans">
<application>
<activity
	 android:name="ch.datatrans.payment.ExternalProcessRelayActivity"
        android:launchMode="singleTask"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">
	<intent-filter>
		<action android:name="android.intent.action.VIEW" />
		<category android:name="android.intent.category.DEFAULT" />
		<category android:name="android.intent.category.BROWSABLE" />
		<data android:scheme="ctdtsdk" />
	</intent-filter>
</activity>
</application>
</manifest>
